html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -120px;
}

footer,
.push {
  height: 120px;
}

header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:visited {
  color: #fff;
  text-decoration: none;
}
